.video-player-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
}

.player-shadow {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

.player-video {
    display: flex;
    flex-grow: 1;
}

.player-menu {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-button {
    color: white;
    background-color: transparent;
    border-style: none;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 33px;
    height: 39px;
    margin: 1px;
}

.play-button {
    padding: 5px;
}

.volume-button {
    padding: 8px;
    font-size: 16px;
}

.fullscreen-button {
    padding: 6px 8px 5px 6px;
    font-size: 17px;
}

.empty-menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
