.video-player-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
}

.player-shadow {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

.player-video {
    display: flex;
    flex-grow: 1;
}

.player-menu {
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-button {
    color: white;
    background-color: transparent;
    border-style: none;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 33px;
    height: 39px;
    margin: 1px;
}

.play-button {
    padding: 5px;
}

.volume-button {
    padding: 8px;
    font-size: 16px;
}

.fullscreen-button {
    padding: 6px 8px 5px 6px;
    font-size: 17px;
}

.viewing-panel {
    display: flex;
    flex-grow: 1;
    font-family: 'Roboto', sans-serif;
    color: white;
    justify-content: space-between;
    flex-direction: row;
}

.current-time {
    padding: 5px 0px 7px 4px;
}

.video-duration {
    padding: 5px 2px 4px 1px;
}

.progress-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.progress-slider {
    margin: 4px 10px 5px;
    height: 6px;
    background-color: red;
    border-radius: 30px;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: red;
    border: solid white;
    border-radius: 50%;
    display: inline-block;
    margin: 2px 7px -1px -15px;
}